<ul data-role="listview">
  <% @categories.each do |category| %>
	<li><%= link_to category.name, "#" %>
		<ul>
			<% category.interests.each do |interest| %>
				<li><%= link_to interest.name, '#' %>
					<ul>
						<% interest.channels.each do |channel| %>
							<li><%= link_to channel.channel_name, channel_url(channel) %></li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
	</li>
  <% end %>
</ul>
	
