<%= render :partial => 'mobile/index_form', :locals => {:title => 'Browse Channels'} %>

<% content_for :content do %>
  <div id="wrapper">
	<div id="scroller">
		<%= render 'channels' %>
	</div>
  </div>
<% end %>
