<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css"></style>
  </head>
  <body>

	<span><%= "Hello," %></span><br /><br />
    
    <p><%= @notice.message %> on Koncierge. </p><br />

    Regards,	
    <p><%= "#{@user.name}"%> </p><br /><br />
      	
    <%= render :partial=>'mail_footer' %>
  </body>
</html>