<%= render 'mobile/index_form' %>

<%= content_for :content do %>
  <div id="show-item">
	<%= render :partial => 'mobile/show_event', :locals => {:event => @event, :session_flg => 'Yes'} %>
  </div>
<% end %>