<%= render 'mobile/index_form' %>

<%= content_for :content do %>
	<li data-role="list-divider" class="center-wrapper">My Schedule</li>
	<%= render :partial => 'mobile/event_list', :collection => get_events('My Schedule'), 
				:as => :event %>
<% end -%>