<%= content_for :head do %>
 	<%= link_to 'Home', root_path, "class"=>"ui-btn-left", "data-icon"=>"home", "data-iconpos"=>"notext" %>
<% end -%>

<%= content_for :content do %>
	<li data-role="list-divider" class="center-wrapper">My Schedule</li>
	<%= render :partial => 'mobile/event_list', :collection => get_events('My Schedule'), 
				:as => :event %>
<% end -%>