.container {
  width: 710px;  
  padding-top: 40px; 
}

body { background: #C2E1EF; }

header {
  padding-top: 20px;
  height: 80px;
}

/*
header img {
  padding: 1em;
  background: #fff;
}
*/

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Sign in button */

a.signin_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-left: 85%;
  margin-top: 5px;
  width: 50px;
  height: 18px;
  font-size: 10px;
  color: #0c6fcb;
  background: #ffffff;
  font-weight: bold;
}
 
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  
}

footer {
  margin-top: 10px;
  width: 710px; 
 /* text-align: center;
  background-color: #222222;
  height: 200px;
  */
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
   clear:both;
}

footer nav {
  float: none;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
/*  padding: 7px; */
  padding-bottom: 5px;
  margin: 7px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 10px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#ajaxSpinnerImage {display:none;}

#spinner {
    margin-top: 300px;
    margin-left: 400px;
    position:fixed;
    height: 10%;
    z-index:9999;
    width:10%;
    clear:none;
    opacity: .4;
    background:#000000 url("../images/ajax-loader.gif") no-repeat center center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-weight:bold; 
  }

/*IE 'adjustment'*/
* html #spinner {
     position: absolute;
     height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    }
    
.field_with_errors { display: inline; }  
      
.field_with_errors .message {  
      color: #D00;  
      padding-left: 5px;  
      font-size: 12px;  
    }  

#credit-gauge {
	width: 240px; height: 120px; margin-left: 10px;
}    

.right-sidebar {
 	float:right;
 	position:relative;
 	width: 150px;
 	padding: 5px;
 	margin-right: 10px;
 	margin-top: 20px;
/*	background-color:  #555555;
	height: 400px;  */
}

.rsidebar {
 	float:right;
 	position:relative;
  	margin-right: 10%;
 	margin-top: 5%;
	width: 180px;
	height: 300px;	
}

/* .pb-qo1, .pb-qo2, .pb-qo3, .pb-qo4 { position: absolute; left: 9.5em; margin-top: 5px; }
*/