/* use to manage dropdown menus  */
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
/* DT styles for sliding doors */
.dropdown dt a {background:#0c6fcb url('../images/down.gif') no-repeat scroll right center;
    display:block; padding-right:20px; color: #ffffff; width:100px; text-decoration: none; 
	border: 1px solid #CCCCCC;    }
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
/* UL styles */
.dropdown dd ul { background:#0c6fcb none repeat scroll 0 0; display:none;
    list-style:none; padding:5px 0px; position:absolute; z-index: 5; 
    left:0px; top:2px; width:100px; min-width:100px;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block; text-decoration: none; color: #ffffff; 
	font-weight: bold; font-size:10px; }
.dropdown dd ul li a:hover { background: #f08103; }
/* .dropdown dt a:hover { background: #f08103; } 
*/