body {
  background: #ffffff;	
}

footer {
  margin-top: 10px;
  width:960px; 
 /* text-align: center;
  background-color: #222222;
  height: 200px;
  */
  margin-left: 200px;
  margin-right: auto;
  padding-top: 10px;
   clear:both;
}

footer nav {
  float: none;
}

#homepage {
	font-size: 14px;
	margin-top: 20px;	
}

#homepage h3 {
	font-size:24px;
	font-weight:bolder;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 25px;
  width: 200px;
  color: #ffffff;
  background: #f08103;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.page-bkgd { width: 100%; }
