body {
     background-color:#ffffff;
}

/* Event page settings */

.landing-bg {
  	position: relative;
	background: #FFFFFF;
	border-color:#0000a0;
}

.left-sidebar {
 	position:absolute;
	width: 140px;
/*	background-color:  #555555;
 *  	float: left;
	margin-top: 4px;
	padding: 10px;
	height: 400px;  */
}

.clock {
	padding-top: 2px;
}

.leftpad {
	padding-left: 1px;
}

.sectionhead {
	background-color: #C2E1EF;
	color: #000000;
}

#new-event {
	vertical-align: middle;	
	display:inline-block;
 }

#new-event span {
	display:block;
	float:left;
	width:100px;
	text-align:right;
	font-weight:normal;
    line-height:18px;
	margin:7px 5px 0px 0px;
}

#new-event textarea {
	padding:0px;
	float:left;
	width:400px;
	height:100px;
	}

#new-event p { line-height:0.55em; }

#new-event h2 {}

.event-label { 	margin:7px 5px 0px 0px; }

#new-event input[type='submit'] {  
	  font-family: Verdana, Arial;
  	  font-weight: bold;
  	  background: #0c6fcb;
  	  font-size:10px;
      width: 100px;
  	  color: #ffffff;
  	  margin-left: 105px;
 /*    padding: 5px;
      margin-top: 10px;  
      margin-bottom: 10px;  
      background:#acb4cb; color:#fff; */
    cursor:pointer;
    padding:5px 10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px
   }  
   
#new-event h3 { 
	margin-left:20px;
	font-size:1.125em;
	line-height:2em;
}

.check_bx {	
	margin-top:10px;
	clear:right;	
}

.session-cbox {
	line-height: 18px;
	vertical-align: middle; 
 	display:inline-block;
   float: left;
   clear:right;
 }
  
.boxed {
  border: 1px solid gray ;
}

.event-item {
	float: left;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#question li {
    list-style-type:none;
    padding-top:10px;
    padding-left:10px;
	display:inline-block;
	vertical-align:middle;
	float:left;
}

#user_sidebar {
  padding-top: 10px;
}

#user_sidebar ul {
  font-family: Arial, Verdana;
  font-size: 10px;
  font-weight:bold;
  margin: 0;
  padding: 0;
  list-style: none;
}

#user_sidebar ul li {
  display: block;
  position: relative;
  float: left;
}

#user_sidebar li ul { display: none; }

#user_sidebar ul li a {
  display: block;
  text-decoration: none;
/*  border-top: 1px solid #ffffff; */
  padding: 5px 15px 5px 15px;
  margin-left: 1px;
  white-space: nowrap;
}

#user_sidebar ul li a:hover { background: #C2E1EF; }
#user_sidebar ul li a:active {background: #C2E1EF;}  /* selected link */

.user_bkgd {
	background: #C2E1EF;
}

.strong {
	font-weight: bold;
}

#user-prefs input[type='submit'] {  
	  font-family: Verdana, Arial;
  	  font-weight: bold;
  	  background: #0c6fcb;
      width: 100px;
      font-size: 10px;
  	  color: #ffffff;
      margin: 20px 10px 10px 290px;  
 /*   padding: 5px;
       background:#acb4cb; color:#fff; */
    cursor:pointer;
    padding:5px 10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px
   }  

.modal-title {
	background-color: #0C6FCB;
	color: #FFFFFF;
	font-size:14px;
	vertical-align: middle;
	font-weight:bold;
   	width: 100%;
    height:28px;
    padding:0px;
	
}

.nav-right {
  float: right;
}

.notice { width: 80%; }

hr { height:0.25em; margin-top: 10px;}

.timeframe { position:absolute; right: 0; top: -3.5em; line-height: 18px; }
.event-add { margin-left: 10px; }

.edit-event { color: #cccccc; }

.event-title {  font-size: 1.25em; font-weight: bold; }

.q-msg { font-size: 0.75em; font-style: italic; width: 65%; margin: 0; padding:0; }
.q-spkr { font-size: 0.75em; font-weight: bold; float: right; }

#quotes { padding:2px;  margin-bottom: 20px; line-height: 0.875em; min-height: 30px; }

/* Nav Links */
#link-btn { background: #0c6fcb; font-size:0.75em;
   font-weight:bold; display:block; text-align: center;
   padding: 5px; color: #ffffff; margin-right: auto; margin-left: 0;
   }
   
 #myfooter {
    bottom:0;
    padding:5px;
    position:fixed;
    width: 70%;
    z-index:1000;
  }
