body {
     background-color:#ffffff;
}

/* Event page settings */

.landing-bg {
	background: #FFFFFF;
	border-color:#0000a0;
}

.left-sidebar {
 	float: left;
 	position:relative;
	width: 150px;
	margin-left: 20px;
	padding: 10px;
/*	background-color:  #555555;
	height: 400px;  */
}

.clock {
	padding-top: 8px;
}

.right-sidebar {
 	float:right;
 	position:relative;
  	margin-right: 20px;
	width: 150px;
	padding: 10px;
/*	background-color:  #555555;
	height: 400px;  */

}

.leftpad {
	padding-left: 1px;
}

.sectionhead {
	background-color: #C2E1EF;
	color: #000000;
}


footer {
  margin-top: 10px;
  width: 960px; 
 /* text-align: center;
  background-color: #222222;
  height: 200px;
  */
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

footer nav {
  float: none;
}

#new-event {
	vertical-align: middle;	
	display:inline-block;
 }

#new-event label {
	display:block;
	float:left;
	width:100px;
	text-align:right;
	font-weight:normal;
    line-height:18px;
	margin:7px 5px 0px 0px;
}

#new-event textarea {
	padding:0px;
	float:left;
	width:300px;
	height:100px;
	}

#new-event p {
	line-height:0.55em;
}

#new-event h2 {

}

.event-label {
	margin:7px 5px 0px 0px;
}

#new-event input[type='submit'] {  
	  font-family: Verdana, Arial;
  	  font-weight: bold;
  	  background: #0c6fcb;
  	  font-size:10px;
      width: 100px;
  	  color: #ffffff;
  	  margin-left: 105px;
 /*    padding: 5px;
      margin-top: 10px;  
      margin-bottom: 10px;  
      background:#acb4cb; color:#fff; */
    cursor:pointer;
    padding:5px 10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px
   }  
   
#new-event h3 { 
	margin-left:20px;
	font-size:1.125em;
	line-height:2em;
}

.check_bx {	
	margin-top:10px;
	clear:right;	
}

.prefs-cbox {
	line-height: 18px;
	vertical-align: middle; 
 	display:inline-block;
   float: left;
   clear:right;
 }
 
  
.boxed {
  border: 1px solid gray ;
}

.event-item {
	float: left;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#question li {
    list-style-type:none;
    padding-top:10px;
    padding-left:10px;
	display:inline-block;
	vertical-align:middle;
	float:left;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

#user_sidebar {
  padding-top: 10px;
}

#user_sidebar ul {
  font-family: Arial, Verdana;
  font-size: 10px;
  font-weight:bold;
  margin: 0;
  padding: 0;
  list-style: none;
}

#user_sidebar ul li {
  display: block;
  position: relative;
  float: left;
}

#user_sidebar li ul { display: none; }

#user_sidebar ul li a {
  display: block;
  text-decoration: none;
/*  border-top: 1px solid #ffffff; */
  padding: 5px 15px 5px 15px;
  margin-left: 1px;
  white-space: nowrap;
}

#user_sidebar ul li a:hover { background: #C2E1EF; }

.user_bkgd {
	background: #C2E1EF;
}

.strong {
	font-weight: bold;
}

#user-prefs input[type='submit'] {  
	  font-family: Verdana, Arial;
  	  font-weight: bold;
  	  background: #0c6fcb;
  	  font-size:10px;
      width: 100px;
  	  color: #ffffff;
      margin: 20px 10px 10px 290px;  
 /*   padding: 5px;
       background:#acb4cb; color:#fff; */
    cursor:pointer;
    padding:5px 10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px
   }  
