 
#app {}  
[data-role=page]{ position:relative !important;}

.app-content {min-width: 100%; padding: 0; }

.ui-listview-filter, .ui-listview {margin-top:0px!important; margin-bottom:0px!important; }

.ui-page, .ui-body-c, .ui-content {
	background: #FFFFFF!important;
}  

.ui-page, .ui-content { min-height: 100%!important; }

#app-footer {bottom:0; position:absolute !important; top: auto !important; width:100%;}  
.ui-navbar { width: 100%; }
.scrollable {height: 100%;}


.ui-btn-inner.ui-li { max-height: 80px;}
/*.ui-btn-inner, .ui-li {width: 100%!important;} */
.ui-br { border-bottom-style:none; }

.mobile_container {  
      width: 100%;  
      margin: 0 auto;  
      background-color: #FFF;  
      padding: 2px; 
      line-height: 25%;
      height: 25%;
    }

.tmsize {width: 80px; font-size: 0.875em; clear: both;}
.dtsize {width: 80%;} 
.logo { margin-top: 40px;}   
.sborder {
	border: 1px solid #CCCCCC;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 150px;
	margin-bottom: 1em;
	background: #fff;
}

.cvv { width: 50px!important; clear:right;}
.cc-date { width: 80px!important; }
.info { color: #FFFFFF; }
.nav-right { float: right; }

.slider-etime { position: absolute; top: 4em!important; margin: 0; height: 2.5em; }

.ui-li-thumb, .ui-li-icon {
    left: 1px;
    max-height: 80px; 
    max-width: 80px; 
    position: absolute;
    top: 0;
}

.mtop { margin-top: 12px;}
.ptop { margin-top: 8px; }

/* mobile form infield label */
#mform p { position:relative; margin-bottom: 0}
#mform label  { position:absolute; top:8px; left:5px; color:#CCCCCC; width:75%}


/* major event image settings */
.e-pic {width: 100%; height: auto; position:relative;}
.c-pic {width: 50%; height: 30%; position:relative; margin-bottom: 10px;}
.show-pic {width: 40%; height:auto; }

/*   session list settings */
.etime { position: absolute; top: 0.25em; left: 1.5em; width: 50px;
		font-size: 0.75em; font-weight: bold; }

.sess-time, .stime {position: absolute; top: 0.25em; right: 1em; font-size: 0.65em; font-weight: bold;  }
.list-hdr h6 {font-size:0.875em; color: blue; }
.loc, .sdescr {font-weight: normal; font-size: 0.75em; margin: 0; }

/*  session presenter list */
.plist { width: 100%; }
.pstr { font-size: 0.875em; color: blue; }

.ppic {    
	left: 1px;
    height: 80px; 
    width: 80px; 
    border: 1px solid #000000;
    }

.cpic {    
	left: 1px;
    height: 44px; 
    width: 44px; 
    border: 1px solid #000000;
    }
        
.ptitle { margin-top: 0px; margin-bottom: 0px; font-weight: bold }    

/*  event list items */
.slider-stime { position:absolute; top: 7em; }
.show-time { font-weight: bold; color: red; margin-top: 5px; }

.slider-title h6 {  position:absolute; top: 1.25em; margin: 0; left: 5.35em;  
	 font-size:0.8em; line-height: 1.05em; height: 50px; width: 65%; color: blue;}

.sl-descr { position:absolute; top: 2.25em; left: 4.35em; width: 80%;
			margin-bottom: 10px; }
	   
.ui-li-desc {text-overflow: normal; overflow: visible; 
			white-space: pre-wrap; font-size: 0.65em;}
			
label, label.ui-input-text { font-size:12px!important; margin-top:5px!important; }

.stitle h6 {font-size: 0.8em; }
.sgrp { line-height: 1em; }
.sdescr { font-size: 0.625em; width: 80%; font-weight: normal; height: 30px; }

.sponsor-type { font-size: 0.75em;  }
.sponsor-msg { color: blue; font-weight: bold; }
.close-lnk { font-size: 0.75em; }
.hdescr { font-size: 0.875em; }

/* add event styling */
#start-time hour { color: blue}
#freq {width: 100px; }
.fc-width {width: 320px; }
.eform input {
  text-transform: capitalize;
}
.eform label { font-weight: bold; font-size: 0.75em; }

.dtop {margin-top: 50px; }

.clear-all { clear:both }
.clear-right { clear:right }

/* old slider markup */
#mslide { width: 100%; }	 
#mslide ul { padding: 0!important; margin: 0!important; list-style-type:none;  }
#mslide li {
	display:inline-block;
	position: relative;
}

/*  channel list styling */
.chtitle h6 { font-size:0.8em; line-height: 1.05em; height: 50px; width: 100%; color: blue;}
.ch-descr { position:absolute; top: 2.25em;  margin-bottom: 5px; width: 100%; }
.ui-controlgroup, fieldset.ui-controlgroup {padding: 0!important; margin: 0 0 0!important;}
.ui-controlgroup .ui-checkbox label {font-size: 14px;}
.ui-field-contain, fieldset.ui-field-contain {padding: 0 0!important;}
.ui-bar, .ui-body {padding: 0 0!important;}

.mobile-slider { margin-bottom: 10px; padding: 0; margin-left:auto; margin-right: auto;  }
.img-btm { position:absolute; bottom: 0.75em; width: 100%;  left: 4em; }
.action-img {position: absolute; right: 0.25em; top: 0.3em;  }
.etype-img {position: absolute; right: 0.25em; top: 1.75em;  }

.rsz-img {  height: 16px; width: 16px; margin-left: 4px; }

.center-wrapper {
	text-align: center!important;
}
.center-wrapper * {
	margin: 0 auto;
}

h3 { margin-top: 0px; }

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;  
}

.mborder {
	border: 1px solid #CCCCCC;
	background: #fff;
	width: 100%;
}

/* Links */
a {
  text-decoration: none;
  }

a:hover, a:visited {
  text-decoration: none;
  }
  
#search-mform { display: block; }

.search-fld {width: 65%!important; background-color:#FFFFFF!important; display:inline!important;}
.search_button {width: 24px; height: 24px; }

.ui-bar-a { border: none; text-shadow: none; }

footer { height: 0.5em; background-color: #FFFFFF; color:#0C6FCB; font-weight: normal; font-size: 0.75em;}

#show-item { position: relative; width: 100%; }
#show-item label { font-weight: bold; font-size: 0.75em; }
.item-detail { position: absolute; left: 5.25em; font-size: 0.75em; margin-top: 0.25em; }
.item-descr {font-size: 0.75em}

.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#notify .ui-icon { background:  url("../images/ev-notify.png") 50% 50% no-repeat; size: 24px 22px;  }
#like .ui-icon { background:  url("../images/ev-like.png") 50% 50% no-repeat; size: 24px 16px;  }
#move .ui-icon { background:  url("../images/ev-move.png") 50% 50% no-repeat; size: 12px 26px; }
#share .ui-icon { background:  url("../images/ev-share.png") 50% 50% no-repeat; size: 22px 27px; }
#delete .ui-icon { background:  url("../images/ev-delete.png") 50% 50% no-repeat; size: 22px 27px; }
#rsvp .ui-icon { background:  url("../images/ev-rsvp.png") 50% 50% no-repeat; size: 22px 27px; }
#edit .ui-icon { background:  url("../images/ev-gear.png") 50% 50% no-repeat; size: 22px 27px; }

.progressBar { font-size: 14px; }
.pb-offset { font-size: 14px; margin-top: 5px; }

.circle-name { font-size:12px; color:#CCCCCC;}

.auth_provr {margin-top: 10px}

a.notice-btn {
  display: inline;
  text-align: center;
  color: #ffffff;
  background: #990000;
  font-weight: bold;
  z-index: 999;
  vertical-align: middle;
  line-height: 18px;
  padding: 3px 8px 3px 8px;
  height: 18px;
  width: 24px;
  font-size: 10px; 
  margin-bottom: 0;
  margin-left: 15px;	
  text-decoration: none;
}

/* error handling */
.error, .alert p {
  border: 2px solid red;
/*  padding: 7px; */
  padding-bottom: 5px;
  margin: 7px;
  width: 70%;
  height: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}

.ui-input-datebox input {width: 99%!important;}
