
.sml-container {
  width: 160px; 
  height: 160px; 
  padding: 4px; 
}

#slider {
	font-size:9px;
	height: 160px;
	margin-left: 20px;
    width:100%;
    margin:0px;
    padding:0px;
}

section {
  width: 240px;
  height: 120px;
  background: #fff;
}

.atop { position:absolute; top: -5em; left: 1em; }
.adate { position:absolute; top: -4em; left: 1em; }

#elist {
  height: 120px;
  width: 100%;
  position: relative;
}

#alist {  line-height: 18px;
  width: 100%;
  position: relative;
}

section h1 {
  font-size: 125%;
}


#slider li {
    list-style-type:none;
    display:inline-block;
 	vertical-align: middle;
   }
   
#slider img {
	width: 48px;
	height: 48px;
	float: right;
	padding-right: 2px;
	clear: right;
}

.opp-slider, .obsrv-slider, .sch-slider { margin: 0 auto 10px; padding: 0; height: 160px; width:760px; visibility: hidden;}

.timeframe { margin-left: 80%; width: 100%; margin-top: -45px; }
.slider-title {
	margin-top: -40px;
	margin-left: 50px;
	float: left;
}

.slider-title h1 { position:absolute; top: 0.1em; left: 4.25em; font-weight: bold; 
	font-size: 1.0em; height: 40px; width: 65%; }

.slider-descr { position:absolute; top: 2em; left: 5em; min-height:100%;
	margin-top: 28px; font-size: 0.875em; line-height: 0.925em; width: 65%; }
	
.slider-time {
	font-size: 0.75em;
	margin-left: 0.15em;
	text-align:right;
	height: 40px;
	width: 45px;
	margin-top: -70px;
}

.slider-stime {
	font-size: 0.75em;
	margin-left: 0.15em;
	text-align:right;
	height: 40px;
	width: 45px;
	margin-top: -50px;
}

.slider-nav {
	margin-top: 36px;
}

.adj-left {
	margin-left: 20px;
}

.shadow {
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
}

.sborder {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

/* calendar styling */
.calendar { left: 1em; margin: 2px 0px 0px 0.25em; }
.calendar { height: 42px; width:40px; font-size: 1em; 
			background: #eee; border: 1px solid; margin: 1px 1px 1px 1px; }
        .calendar > span { display: block; }
        .calendar > .month { text-align: center; padding: 2px 4px 2px 0px; }
        .calendar > .day { line-height: 20px; text-align: center; font-weight: bold; font-size: 1.25em; }

.calendar > .month { line-height: 18px; background: #f08103; color: #ffffff; font-weight: bold; }
    .calendar > .day {  background: #fff no-repeat; }
    
.calendar { 
        box-shadow: 0 0 5px #05587e; -moz-box-shadow: 0 0 5px #05587e; 
        -webkit-box-shadow: 0 0 5px #05587e;
        }

.calendar { 
        -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
    }
    
.calendar > .month { 
        -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
        -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px; border-top-right-radius: 5px;
        }
.calendar > .day {
        -webkit-border-bottom-left-radius:  5px; -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px;
        }

#action-item {
}

#action-item li {
    list-style-type:none;
	display:inline-block;
	vertical-align:middle;
}

.eslide {
	overflow:hidden;
	height:180px;
    line-height:180px;
    position: relative;
    width: 100%; 
}

.eslide li {
    list-style-type:none;
	display:inline-block;
	vertical-align:middle;
	margin-bottom: 5px;
	margin-right: 10px;
 
}

.grphead {font-variant: small-caps; color:#0C6FCB; font-size: 1.05em; font-weight: bold; margin-left: auto; margin-right: auto;}

.img-btm { position:absolute; bottom: -7em; width: 100%;  left: 4em; }
.action-img {position: absolute; right: 0.5em; top: 0.1em;  }
.etype-img {position: absolute; right: 0.5em; top: 1.75em;  }

.rsz-img {  height: 16px; width: 16px; margin-left: 4px; }

.slider-round {	    
        -webkit-border-radius: 5px; -moz-border-radius: 5px; 
        border-radius: 5px 5px 0 0 / 5px 5px 0 0;;  
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}