
.sml-container {
  width: 160px; 
  height: 160px; 
  padding: 4px; 
}

#slider {
	font-size:9px;
	height: 160px;
	margin-left: 20px;
    width:100%;
    margin:0px;
    padding:0px;
}

section {
  width: 200px;
  height: 120px;
  background: #fff;
}

.atop { position:absolute; top: -5em; left: 1em; }
.adate { position:absolute; top: -4em; left: 1em; }

#elist {
  height: 120px;
  width: 100%;
  position: relative;
}

#alist {  line-height: 18px;
  width: 100%;
  position: relative;
}

section h1 {
  font-size: 125%;
}


#slider li {
    list-style-type:none;
    display:inline-block;
 	vertical-align: middle;
   }
   
#slider img {
	width: 48px;
	height: 48px;
	float: right;
	padding-right: 2px;
	clear: right;
}

.opp-slider, .obsrv-slider, .sch-slider { margin: 5px 0 5px 0; padding: 0; height: 145px; width: 640px; visibility: hidden; }
.obsrv-slider { display:inline-block; }
.slider-title {
	margin-top: -40px;
	margin-left: 50px;
	float: left;
}

.event_form { position: relative; display: inline; }
.left-nav { position: absolute; padding: 0; margin-left: 3px; margin-right: 3px; }
.right-nav { position: absolute; padding: 0; }
.slider-title h1 { position:absolute; top: 0.1em; left: 5em; font-weight: bold; 
	font-size: 0.85em; height: 40px; width: 60%; }

.slider-descr { position:absolute; top: 2em; left: 5.75em; min-height: 100%;
	margin-top: 32px; font-size: 0.75em; line-height: 1em; width: 60%; }
	
.slider-time {
	font-size: 0.75em;
	margin-left: 0.125em;
	text-align:right;
	height: 40px;
	width: 45px;
	margin-top: -70px;
}

.slider-stime {
	font-size: 0.75em;
	margin-left: 0.15em;
	text-align:right;
	height: 40px;
	width: 45px;
	margin-top: -50px;
}

.slider-nav {
	margin-top: 56px;
}

.adj-left {
	margin-left: 20px;
}

.sborder {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

#action-item {
}

#action-item li {
    list-style-type:none;
	display:inline-block;
	vertical-align:middle;
}

.eslide {
	overflow:hidden;
	height:180px;
    line-height:180px;
    position: relative;
    width: 100%; 
}

.eslide li {
    list-style-type:none;
	display:inline-block;
	vertical-align:middle;
	margin-bottom: 5px;
	margin-right: 10px;
}

.grphead {font-variant: small-caps; color:#0C6FCB; font-size: 1.25em; font-weight: bold; margin-left: auto; margin-right: auto;}

.img-btm { position:absolute; bottom: -7em; width: 100%;  left: 4em; }
.action-img {position: absolute; right: 0.25em; top: 0.1em;  }
.etype-img {position: absolute; right: 0.25em; top: 1.75em;  }

.rsz-img {  height: 16px; width: 16px; margin-left: 4px; }

.bot-20 { margin-bottom: 60px;}

.slider-round {	    
        -webkit-border-radius: 5px; -moz-border-radius: 5px; 
        border-radius: 5px 5px 0 0 / 5px 5px 0 0;;  
}
