<%= set_title("Edit Profile") %>
<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Profile' } %>

<%= content_for :content do -%>
	<div id="user-prefs">
 		<%= render :partial => 'user' %>
	</div>
<% end %>