<div class="right-sidebar">  	<p><h4><center>Featured Activities</center></h4> </p> 	<div class="box">  
    	<a href="#" >Event #1</a>  
    	<p><span class="quiet">Nam vitae tortor id ante sodales facilisis. Mauris ipsum.</span></p>   
    	<div class="quiet">Org Name</div>  
    </div>      	<div class="box">  
    	<a href="#" >Event #2</a>  
    	<p><span class="quiet">Nam vitae tortor id ante sodales facilisis. Mauris ipsum.</span></p>   
    	<div class="quiet">Org Name</div>  
   	</div>   
</div>  