<div class="right-sidebar">  	<h3 class="caps"><center>Featured Activities</center></h3>  	<div class="box">  
    	<a href="#" >Nam vitae tortor</a>  
    	<p><span class="quiet">Nam vitae tortor id ante sodales facilisis. Mauris ipsum.</span></p>   
    	<div class="quiet">Advertiser Name</div>  
    </div>      	<div class="box">  
    	<a href="#" >Second ad</a>  
    	<p><span class="quiet">Nam vitae tortor id ante sodales facilisis. Mauris ipsum.</span></p>   
    	<div class="quiet">Advertiser Name</div>  
   	</div>   
</div>  