<style>
	#ajaxSpinnerContainer {height:11px;}
	#ajaxSpinnerImage {display:none;}
</style>

<div id="ajaxSpinnerContainer">
	<img src="/images/ajax-loader.gif" id="ajaxSpinnerImage" title="working...">
</div>
