<ul id="breadcrumb">
	<li class="current"><%= image_tag("blue_1.1.png", :alt => "Interests", :class => "textmiddle", :size => "24x24") %> Select interests</li>
    <li class="current"><%= image_tag("blue_2.1.png", :alt => "Channels", :class => "textmiddle", :size => "24x24") %> Choose channels</li>
    <li class="current"><%= image_tag("blue_3.1.png", :alt => "Associates", :class => "textmiddle", :size => "24x24") %> Invite friends</li>
    <li><%= image_tag("4.png", :alt => "Affiliations", :class => "textmiddle", :size => "24x24") %> Select affiliations</li>
</ul><br />
