<div class="nav-right">
  <%= link_to "+ Add", users_path(:id => @user, :rtype => @rel_type), :class=>"select-btn round"  %>
</div>
  <% model.each do |trkr| %>
    <% unless trkr.blank? %>
 		<%= render :partial => 'shared/user_item', :locals => {:model => trkr} %>
    <% end %>
  <% end %>
