<% content_for :subhead do -%>
	<div class="span-24 last" id="new-event">
		<h3 class="prepend-4 grp-hdr"><%= "#{@user.name} | Edit #{@area}"%></h3>
	</div>
<% end %>

<% content_for :left_sidebar do -%>
	<%= render :partial => 'shared/nav_panel' %>
<% end %>