<input type="hidden" name="crdt" value='<%= "#{getcredits}" %>' id='cmeter'>
<span class="rating-hdr">Your QOL Rating: </span><span class="rating"><%= "#{get_rating}" %></span>
<canvas id="credit-gauge"></canvas>