<% content_for :head do %>  <div class="menu-bkgd"></div>  <div id="menuhead" class="container">  	<%= render :partial => 'shared/main_menu', :locals => { :main_menu => menu_type } %>  </div>
<% end %>