 <% [['name', 'Name:'],['title', 'Title:'], 
	['org_name', 'Organization:'], ['bio', 'Bio:']].each do |fld| %>
   	<% unless @presenter.send(fld[0]).blank? %>	
  	  	<div class="span-2"><%= fld[1] %></div>
 	  	<div class="span-18 last"><%= @presenter.send(fld[0]) %></div>
   		<% if fld[0] == 'bio' %>
  			<div class="prepend-4">
   				<%= render :partial => 'shared/presenter_details', :locals => {:presenter => @presenter } %>
   			</div>
		<% end %>
 	<% end %>
 <% end %>
