<div class="clear-all"></div>
<% if any_prices?(event) %>
  <p><div class="span-6"><span class="prepend-4">Prices:</span></div></p>
  <div class="span-18 last">
  <% [['MemberFee', 'Member:'], ['NonMemberFee', 'General:'], ['AffiliateFee', 'Affiliate:'], ['Other1Fee', 'Student:'],
      ['Other2Fee', 'Senior:'], ['SpouseFee', 'Spouse:'], ['AtDoorFee', 'At Door:'], ['GroupFee', 'Group:'],
      ['Other3Fee', 'Prepaid:'], ['Other4Fee', 'Disabled:'], ['Other5Fee', 'Other:'], ['Other6Fee', 'Other:']].each do |fld| %>	
  	<% if price_exists?(event, fld[0] ) %>	
  		<div class="span-2"><%= "#{fld[1]}" %></div>  		<div class="span-18 last"><%= number_to_currency(event.send(fld[0])) %></div>
  	<% end %>
  <% end %>
  </div>
<% end %>
