<%= render "mobile/index_form" %>

<% content_for :content do %>
	<h3 class="center-wrapper">Edit Life Event</h3>
	<%= render :partial => 'mobile/event_form', :locals => { :etype => 'life' } %>
<% end %>
