<div class="span-5 colborder event-label">  	<p><%= f.label "Show" %></p>           </div>	<div class="span-18 last" id="new-event">  	<div class="span-6">		My Family <%= check_box_tag 'My Family' %>	</div>	<div class="span-6">		My Friends <%= check_box_tag 'My Friends' %>	</div>	<div class="span-6 last">		My World <%= check_box_tag 'My World' %>	</div></div>
<hr />   