<div class="span-5 event-label">  	<p><%= f.label "Who to notify?" %></p>           </div>	<div class="span-19 last" id="new-event">  	<div class="span-6">		<%= check_box_tag 'My Family' %> My Family	</div>	<div class="span-6">		<%= check_box_tag 'My Friends' %> My Friends	</div>	<div class="span-7 last">		<%= check_box_tag 'My World' %> My World	</div></div>
<hr />   