<!-- main form for events -->
<% content_for :head do -%>
   	<%= render :partial => 'shared/main_menu', :locals => { :main_menu => "User" } %>
<% end -%>

<% content_for :left_sidebar do -%>
	<div id="user_panel"><%= render set_panel %></div>
<% end -%>

<% content_for :content do -%>
	<%= render 'content' %>
<% end -%>
   
<% content_for :right_sidebar do -%>
	<div id="ad_panel"><%= render 'shared/ad_panel' %></div> 
<% end -%>