<% get_events(slider).each do |event| %>
<li>
  <section class="sborder">
  	<div id="elist">
		<div class="calendar"> 
    		<span class="month"><%= event[:start_date].strftime("%b") %></span>
    		<span class="day"><%= event[:start_date].strftime("%e") %></span>
		</div>
 		<div class="slider-time"><%= chk_time(event[:end_time]) %></div>
		<div class="slider-stime"><%= chk_time(event[:start_time]) %></div>
		<div class="slider-descr">
			<span class="italic">No activity scheduled.</span>
		</div>		
	</div>
  </section>
</li>
<% end %>
