<div class="left-sidebar"> 
 	 <div class="box">   
           <div class="quiet">
            	<center><p><%= "#{@user.first_name} #{@user.last_name}" %></p></center>
           </div>     </div></div> 