<% content_for :pre_mobile_load do %>
  	<script>
  		//reset type=date inputs to text
  		$( document ).bind( "mobileinit", function(){
    		$.mobile.page.prototype.options.degradeInputs.date = true;
  		});	
	</script>
<% end %>

<% content_for :head do %>
  	<%= link_to 'Home', home_user_path, "class"=>"ui-btn-left" %>
<% end %>

<% content_for :content do %>
	<h3 class="center-wrapper">Edit Event</h3>
	<%= render 'form' %>
<% end %>
