<% content_for :head do %>
  	<%= link_to 'Home', home_user_path, "class"=>"ui-btn-left" %>
<% end -%>

<% content_for :content do %>
	<h3 class="center-wrapper"><%= "#{@slider}" %></h3>
	<ul data-role="listview" data-inset="true">
		<%= render :partial => 'mlist', :collection => get_slider_events(@slider), 
				:as => :event, :locals => {:slider => @slider } %>	
	</ul>
<% end -%>