<!-- display form --> 
<%= render 'form' %>

<!-- display google map --> 
<% content_for :scripts do -%>
   	<div class="span-24 last" id="gmaps">  
		<%= gmaps4rails(@json) %>
	</div>
<% end -%> 