<div class="container main-page">
	<%= render 'home_page' %>
</div>
<div class="home-bkgd">
	<hr />  
	<div class="container">
		<%= render :partial => 'caption', :locals => { :title => "Plan" } %>
		<%= render :partial => 'caption', :locals => { :title => "Discover" } %>
		<%= render :partial => 'caption', :locals => { :title => "Schedule" } %>
	</div>
</div>
