 <h1>TimeBarker</h1>
    <p>
      Stay informed about what's going on in your area. Share, discover and track upcoming activities  
      and events you are interested in automatically.       
    </p>
 
 <%= link_to "Sign Up!",new_user_registration_path, :class => "signup_button round" %>
