<h1>Interests</h1>
<p>Personalize your content. Select the topics you are interested in being kept aware of.</p>

<%= form_for @interest do |f| %>
	<%= render 'categories' %>
	<p>
		<%= f.submit 'Continue >>' %>
	</p>
<% end %>