<p class="fields">
 	<%= f.label :name, "Name" %>  
    <%= f.autocomplete_field :name, autocomplete_organization_name_affiliations_path, :size => 40 %>
   	<%= f.label :affiliation_type, "Type" %> 
   	<%= f.collection_select :affiliation_type, AffiliationType.all, :name, :name, :prompt => true  %> 	
</p>