<div class="fields">
  <%= form_for @user, :validate => true do |f| %>
 	<div id="event_errors" style="display:none" class="error"></div>
	<%= render "shared/error_messages", :target => @user %>  
	<%= render :partial => 'affiliations', :locals => { :f => f } %>
	<%= f.submit 'Finish', :class => "nav-right" %>
  <% end %>
</div> 