<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Profile' } %>

<% content_for :content do %>
 	<%= render :partial => 'shared/edit_form' %>
 	  <div class="span-20 last round outer-shadow" id="user-prefs">  
	    <div class="pad-10" id="edit-aff">
 			<%= render :partial => 'form' %>
	    </div>
	 </div>
<% end %>

