<div class="fields">
  <%= form_for @user, :as => :user, :url => affiliation_path(@user), :validate => true do |f| %>
 	<div id="event_errors" style="display:none" class="error"></div>
	<%= render :partial => 'mobile/affiliations', :locals => { :f => f } %>
	<p>
	<%= f.submit getBtnTag(action_name), "data-theme"=>"b" %>
	<%= link_to "Cancel", :back, "data-role" => "button" %>
  	</p>	
  <% end %>
</div>
