<div data-role="navbar">
  	<ul>
		<li><%= link_to "Day",'#', :id=>'cal-aday', "data-theme"=>theme[0] %> </li>
		<li><%= link_to "Week",'#', :id=>'cal-week', "data-theme"=>theme[1] %> </li>
		<li><%= link_to "Month",'#', :id=>'cal-month', "data-theme"=>theme[2] %> </li>
	</ul>
</div>
