<%= content_for :footer do %>
	<div data-role="navbar">
	  <ul>
	  	<% if subscribed?(channel.channelID) %>
			<li><%= link_to "Unsubscribe", subscription_url(:id=>get_subscription(channel.subscriptions, channel.channelID),:user_id=>@user, :channel_id => channel.channelID), :confirm => 'Unsubscribe from this channel?', "data-icon"=>"minus", :method=>:put, :remote=>true %> </li>
	  	<% else %>
			<li><%= link_to "Subscribe", subscriptions_url(:user_id=>@user, :channel_id => channel.channelID), "data-icon"=>"add", :method=>:post %> </li>
	  	<% end %>
	  </ul>
	</div>
<% end %>
