<li>	
  <%= link_to channel_url(channel) do %>
	<%= render :partial => 'mobile/show_photo', :locals => {:model => channel, :vtype => 'ppic', :file_name => 'camera.png', :psize => '80x80' }%>
   	<div class="pstr">
		<h6><%= channel.channel_name %></h6>
	</div>
	<div class="ui-li-desc sdescr"><%= truncate(channel.bbody, :length=>65, :omission=>'...') %></div>
  <% end %>
</li>