<li>	
  <%= link_to channel_url(channel) do %>
   	<div class="chtitle">
		<h6><%= channel.channel_name %></h6>
	</div>
	<div class="ch-descr">
		<div class="ui-li-desc sdescr"><%= truncate(channel.bbody, :length=>80, :omission=>'...') %></div>
	</div>
  <% end %>
</li>
