<%= content_for :footer do %>
	<div data-role="navbar">
	  <ul>
	  	<% if subscribed?(channel.channelID)%>
			<li><%= link_to "Unsubscribe", unsubscribe_subscription_url(:user_id=>@user, :channel_id => @channel.channelID), "data-icon"=>"minus", :remote=>true %> </li>
	  	<% else %>
			<li><%= link_to "Join", add_subscription_url(:user_id=>@user, :channel_id => @channel), "data-icon"=>"add", :remote=>true %> </li>
	  	<% end %>
	  </ul>
	</div>
<% end %>
