<%= content_for :footer do %>
	<div data-role="navbar">
	  <ul>
	  	<% unless subscribed?(channel.channelID)%>
			<li><%= link_to "Join", subscriptions_url(:user_id=>@user, :channel_id => @channel), "data-icon"=>"custom", :id => "add", "data-method" => "post", :remote => true %> </li>
	  	<% end %>
	  </ul>
	</div>
<% end %>
