   	<div class="chtitle">
		<h6><%= channel.channel_name %></h6>
	</div>
	<div class="ch-descr">
		<div class="ui-li-desc sdescr"><%= channel.descr %></div>
	</div>		
	<span class="ui-li-count"><%= channel.subscriptions.size %></span>
