<%= content_for :footer do %>
	<div data-role="navbar">
	  <ul>
		<li><%= link_to "Join", add_subscription_url(:user_id=>@user, :channel_id => @channel), "data-icon"=>"custom", :id => "add", :method => "post", :remote => true %> </li>
		<li><%= link_to "Like", channel_url(@channel), "data-icon"=>"custom", :id => "like", :remote => true %> </li>
	  </ul>
	</div>
<% end %>
