<div id='map_details' data-role="navbar">
	<ul>
		<li><%= link_to 'Home', home_path, "data-icon"=>"home" %></li>
		<li><%= link_to "Details", "#", {:class=>"details", :id=>'map','rel'=>'external', "data-icon"=>"custom"} %></li>
		<li><%= link_to 'Menu', home_user_path, "data-icon"=>"gear" %></li>    
	</ul>
</div>
