<div id='map_details' data-role="navbar">
	<ul>
		<li><%= link_to 'Home', home_path, "data-icon"=>"home" %></li>
		<li id="home_footer"><%= link_to 'Event', event_url(:id=>@id, :etype=>@etype, :eid=>@eid, :sdt=>@sdt), :id=>'cal', "data-icon"=>"custom" %></li>
		<% if directionsFlg %>
			<li><%= link_to "Details", "#", {:class=>"details", :id=>'map','rel'=>'external', "data-icon"=>"custom"} %></li>
		<% end %>
		<li><%= link_to 'Menu', home_user_path, "data-icon"=>"gear" %></li>    
	</ul>
</div>
