	  		<li>
	  			 <% if life_event?(event.event_type) %>
    				<%= link_to life_event_url(event) do %>
	  					<%= render :partial => 'mobile/event_item', :locals => { :event => event, :privlist => 'Yes' } %>
    				<% end %>
  				<% else %>
   					<%= link_to private_event_url(event) do %>
	  				 	<%= render :partial => 'mobile/event_item', :locals => { :event => event, :privlist => 'Yes' } %>
				    <% end %>
				<% end %>
	  		</li>