<% unless observance?(event.event_type) %>
	<%= render :partial => "mobile/event_item", :locals => {:event => event, :privlist => 'No'}%>
<% else %>
 	<div class="stitle">
		<h6><%= event.event_name %><%= " ( #{get_nice_date(event.eventstartdate)} )" %></h6>
	</div>
<% end %>
