<div data-role="navbar">
  	<ul>
		<li><%= link_to 'Search', '#', :class=>"srchflg", "data-icon"=>"search" %></li>
		<li><%= link_to "Near Me", '#', :class=>'nearby', "data-icon"=>"custom", :id => "map" %> </li>
	</ul>
</div>
