<div data-role="navbar">
	<ul>
		<li><%= link_to 'Home', home_path, "data-icon"=>"home" %></li>
		<li><%= link_to "Import", import_events_url, {:class=>"import", "data-icon"=>"plus"} %></li>
		<li><%= link_to 'Menu', home_user_path, "data-icon"=>"gear" %></li>    
	</ul>
</div>
