
<% content_for :head do %>  <div>
	<% if data_form? %>
		<% unless controller_name == 'interests' && action_name == 'new' %>
		  <%= select_tag 'Go', options_for_select( select_options('Yes') ), {:class=>'ui-btn-right', 'data-mini'=>"true", :id=>'menu_id', 'data-icon'=>"arrow-d", 
				'data-iconpos'=>"right"} %>
		<% end %>
	<% elsif event_cntr? %>
		<%= select_tag 'Go', options_for_select( select_options('No') ), {:class=>'ui-btn-right', 'data-mini'=>"true", :id=>'menu_id', 'data-icon'=>"arrow-d", 
				'data-iconpos'=>"right"} %>
	<% end %>
  </div>
	
  <h3><%= "#{title}" %>
	<% if events_index? %>
		<%= link_to get_unread_count(@user), event_notices_url(:sid=>@user.ssid), :class=>"notice-btn round" %>
	<% end %>
  </h3>
<% end %>