  <div class="mtop">
	<ul data-role="listview" data-filter="true">
		<li data-role="list-divider" class="center-wrapper">Observances & Reminders</li>
		<div class="center-wrapper">
		  	<%= render :partial => 'mobile/oblist', :collection => get_events('Observances'), 
				:as => :event %>
		</div>			
		<% if user_signed_in? %>
			<li data-role="list-divider" class="center-wrapper">My Schedule</li>
			<%= render :partial => 'mobile/event_list', :collection => get_events('My Schedule'), 
				:as => :event %>
		<% end %>	
		<li data-role="list-divider" class="center-wrapper">Upcoming Events</li>
		  	<%= render :partial => 'mobile/event_list', :collection => get_events('Upcoming Events'), 
				:as => :event %>	
	</ul>
  </div>