<% content_for :pre_mobile_load do %>
  	<%= render 'mobile/pre_load' %>
<% end %>
<% content_for :head do %>	<h3><%= "#{title}" %></h3>	<%= link_to 'Home', events_url, "class"=>"ui-btn-left", "data-icon"=>"home", "data-iconpos"=>"notext" %>
	<% if user_signed_in? %>
       	<%= link_to 'Account', home_user_path, "class" => "ui-btn-right", "data-icon"=>"gear", "data-iconpos"=>"notext" %>
	<% end %>
<% end %>