<ul data-role="listview">
	<li data-role="list-divider" class="center-wrapper">Observances & Milestones</li>
	<div class="center-wrapper">
	  	<%= render :partial => 'mobile/oblist', :collection => get_events('Observances'), :as => :event, :locals => {:edate => Date.today} %>
	</div>			

	<% [['Appointments & Reminders','Appointment'],['Scheduled Activities','Schedule'],['Tracked Activities','Tracked']].each do |etype| %>
		<li data-role="list-divider" class="center-wrapper"><%= etype[0] %></li>
		<%= render :partial => 'mobile/event_list', :collection => get_events(etype[1]), :as => :event, :locals => {:edate => Date.today} %>
    <% end %>

	<li data-role="list-divider" class="center-wrapper">Suggested Opportunities</li>
	<% get_date_range(@events, @enddate).each do |edate| %>
		<%= render :partial => 'mobile/event_list', :collection => get_events('Suggested Opportunities', edate), :as => :event, :locals => {:edate => edate} %>	
	<% end %>	
</ul>