<div data-role="navbar">
  	<ul>
		<li><%= link_to "7 Days", nearby_events_url(:end_date=>"7.days"), "data-theme"=>theme[0] %> </li>
		<li><%= link_to "14 Days", nearby_events_url(:end_date=>"14.days"), "data-theme"=>theme[1] %> </li>
	</ul>
</div>