<% if controller_name == 'channels' || controller_name == 'nearby_events' %>
	<div class="srchText" data-query="<%= @query %>"></div>
<% end %>
<div data-role="navbar">
  	<ul>
		<li><%= link_to 'Home', home_path, "data-icon"=>"home" %></li>
		<% if sflg %>
			<li><%= link_to 'Search', '#', :id=>"srchflg", "data-icon"=>"search" %></li>
		<% end %>
		<li><%= link_to 'Menu', home_user_path, "data-icon"=>"gear" %></li>    
	</ul>
</div>