    <% for pic in promo.pictures %>
        <div class='item'>
        <% unless pic.photo_file_name.blank? %>
          <%= image_tag pic.photo.url, :class=>'show-pic', :title=>"<a href='/promos/#{promo.id}'> #{promo.promo_name}</a>" %>
        <% end %>
        </div>
    <% end %>
