<% unless model.cbody.blank? %>
	<ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider">Description</li>
	</ul>
	<p class="item-descr"><%= auto_link(model.cbody.gsub("\\n","<br />")).html_safe %></p>
<% end %>