<% if any_prices?(event)%>
  <ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider">Prices</li>
  </ul>
  <% [['MemberFee', 'Member:'], ['NonMemberFee', 'General:'], ['AffiliateFee', 'Affiliate:'],
      ['SpouseFee', 'Spouse:'], ['AtDoorFee', 'At Door:'], ['GroupFee', 'Group:']].each do |fld| %>
        <% if price_exists?(event, fld[0] ) %>
   			<label><%= "#{fld[1]}" %></label>
  			<span class="item-detail"><%= number_to_currency(event.send(fld[0])) %></span><br />
        <% end %>
  <% end %>
  <% (1..6).each do |i| %>
    <% if price_exists?(event, 'Other' + i.to_s + 'Fee' ) %>
        <label><%= event.send('Other' + i.to_s + 'Title') + ':' %></label>
        <span class="item-detail"><%= number_to_currency(event.send('Other' + i.to_s + 'Fee')) %></span><br />
    <% end %>
  <% end %>
<% end %>	
