<% if any_prices?(event)%>
  <ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider">Prices</li>
  </ul>
  <% [['MemberFee', 'Member:'], ['NonMemberFee', 'General:'], ['AffiliateFee', 'Affiliate:'], ['Other1Fee', 'Student:'],
      ['Other2Fee', 'Senior:'], ['SpouseFee', 'Spouse:'], ['AtDoorFee', 'At Door:'], ['GroupFee', 'Group:'], _
      ['Other3Fee', 'Prepaid:'], ['Other4Fee', 'Disabled:'], ['Other5Fee', 'Other:'], ['Other6Fee', 'Other:']].each do |fld| %>	
  	<% if price_exists?(event, fld[0] ) %>	
  		<label><%= "#{fld[1]}" %></label>
  		<span class="item-detail"><%= number_to_currency(event.send(fld[0])) %></span>
  	<% end %>
  <% end %>
<% end %>	
