<%= render 'mobile/index_form' %>

<%= content_for :content do %>
  <div id="show-item">
  	<% unless major_event?(@event.event_type) %>
		<%= render :partial => 'mobile/show_major_event', :locals => {:event => @event} %>
  	<% else %>  
		<%= render :partial => 'mobile/show_event', :locals => {:event => @event} %>
	<% end %> 	  
  </div>
<% end %>	