<div class="interest">
	<% @subscriptions.each do |sub| %>		
		<fieldset data-role="controlgroup"> 
			<%= check_box_tag :subscription_ids, sub.id, false, :name => 'user[subscription_ids][]' -%>
			<label for="subscription_ids"><%= get_channel_name(sub.channelID) %></label>
      	</fieldset> 			
	<% end %>
</div>
