<tr><td>First Name* </td><td><%= f.text_field :first_name %></td></tr>
<tr><td>Last Name* </td><td><%= f.text_field :last_name %></td></tr>
<tr><td>Email* </td><td><%= f.text_field :email %></td></tr>
