<%= render :partial => 'mobile/index_form', :locals => {:title => 'My Calendar'} %>

<%= content_for :head do %>
	<%= render :partial => 'mobile/calendar_header', :locals => { :theme =>'aaa' } %>
<% end %>

<%= content_for :content do %>
<div id="calendar">
	
</div>
<% end %>

