<h1>Channels</h1>
<p>Based on your selections we found the following channels for you.</p>

<%= form_for @user do |f| %>
	<%= render 'channel_lists' %>
	<p>
		<%= f.submit 'Continue >>' %>
	</p>
<% end %>