<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'User' } %>

<%= content_for :content do -%>
	<center><h3>Search Results</h3></center><hr />
	<div id="ev-results"><%= render 'results' %></div>
<% end -%>
