<%= set_title("Search Results") %>
<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Event' } %>

<%= content_for :content do -%>
	<center><h3>Search Results</h3></center><hr />
	<div id="ev-results"><%= render 'shared/results' %></div>
<% end -%>
