<div data-role="collapsible">
	<h3><%= "#{category.name.titleize}" %></h3>
	<ul data-role="listview">
	  <% category.interests.reorder('name').each do |interest| %>		
		<li><%= link_to interest.name, select_url(:interest_id=> interest, :location=> @location), :remote=>true %></li>
	  <% end %>
	</ul>	
</div>
