<%= render :partial => 'mobile/index_form', :locals => {:title => 'Browse Channels'} %>

<% content_for :srch_content do %>
	<%= render :partial => 'mobile/channel_search' %>
<% end %>

<% content_for :content do %>
  <div id="wrapper">
	<div id="scroller">
		<%= render 'categories' %>
	</div>
  </div>
<% end %>
