<%= render :partial => 'mobile/index_form', :locals => {:title => 'Presenter'} %>

<%= content_for :content do %>
	<div class="scrollable">
	    <div id="show-item">
			<%= render 'mobile/presenter'%>
		</div>
	</div>
<% end %>

