<%= set_title("My Transactions") %>
<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Transaction' } %>

<% content_for :subhead do -%>
  <center><h3 class="grp-hdr">My Transactions</h3></center><hr />
<% end %>

<%= content_for :content do -%>
  	<div id='transaction_form' class="span-24 last">
  		<%= render 'shared/transaction_list' %>
  	</div>  	
<% end -%>