<footer>
  <div class="div-footer">
  	<hr />	
    <ul>
	  <li>&copy; 2012 KITS, Inc.</li>        
      <li class="prepend-2"><%= link_to "About", about_path %> | </li>
      <li><%= link_to "Contact", contact_path %> | </li>
      <li><%= link_to "Privacy", privacy_path %> | </li>
      <li><%= link_to "Company", company_path %></li>
    </ul>
  </div>
</footer>
