<footer>
 <hr />
 <nav class="round"> 
    <ul>
	© 2011 KITS, Inc.        
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
      <li><%= link_to "Company", company_path %></li>
    </ul>
 </nav> 
</footer>
