<header>
  <% logo = image_tag("rails.png", :alt => "TimeMsgr", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round"> 
    <ul>
       <% if user_signed_in? %>
     		<li><%= link_to "Home", root_path %></li>
    		<li><%= link_to "Sign Out", destroy_user_session_path %></li>
  	  <% else %>
			<li><%= link_to "Sign In", new_user_session_path %></li>     		
      <% end %>
    </ul>
  </nav>
</header>

